<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoAppIIS" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\PYTHON\Setup\Python38-32\python.exe|E:\HRLAPP\HRL\HRL\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
