<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="xmlComments" type="WCFExtras.Wsdl.Documentation.XmlCommentsConfig, WCFExtras"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IHistaffFramework">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9999/HistaffFramework.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHistaffFramework"
        contract="HistaffFramework.IHistaffFramework" name="WSHttpBinding_IHistaffFramework">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>