<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    
   
    <!--test-->

    <add name="InsuranceContext" connectionString="metadata=res://*/InsuranceContext.csdl|res://*/InsuranceContext.ssdl|res://*/InsuranceContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=histaffhcm&quot;" providerName="System.Data.EntityClient" />
    <add name="CommonContext" connectionString="metadata=res://*/CommonContext.csdl|res://*/CommonContext.ssdl|res://*/CommonContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=histaffhcm&quot;" providerName="System.Data.EntityClient" />
    <add name="ProfileContext" connectionString="metadata=res://*/ProfileContext.csdl|res://*/ProfileContext.ssdl|res://*/ProfileContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=histaffhcm&quot;" providerName="System.Data.EntityClient" />
    <add name="AttendanceContext" connectionString="metadata=res://*/AttendanceContext.csdl|res://*/AttendanceContext.ssdl|res://*/AttendanceContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=histaffhcm&quot;" providerName="System.Data.EntityClient" />
    <add name="AuditLogContext" connectionString="metadata=res://*/AuditLogContext.csdl|res://*/AuditLogContext.ssdl|res://*/AuditLogContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=histaffhcm&quot;" providerName="System.Data.EntityClient" />
    <add name="PayrollContext" connectionString="metadata=res://*/PayrollContext.csdl|res://*/PayrollContext.ssdl|res://*/PayrollContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=histaffhcm&quot;" providerName="System.Data.EntityClient" />
    <add name="PortalContext" connectionString="metadata=res://*/PortalContext.csdl|res://*/PortalContext.ssdl|res://*/PortalContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=histaffhcm&quot;" providerName="System.Data.EntityClient" />
    <add name="RecruitmentContext" connectionString="metadata=res://*/RecruitmentContext.csdl|res://*/RecruitmentContext.ssdl|res://*/RecruitmentContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=histaffhcm&quot;" providerName="System.Data.EntityClient" />
    <add name="TrainingContext" connectionString="metadata=res://*/TrainingContext.csdl|res://*/TrainingContext.ssdl|res://*/TrainingContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=histaffhcm&quot;" providerName="System.Data.EntityClient" />
    <add name="PerformanceContext" connectionString="metadata=res://*/PerformanceContext.csdl|res://*/PerformanceContext.ssdl|res://*/PerformanceContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=histaffhcm&quot;" providerName="System.Data.EntityClient" />
    <add name="DataAccess" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=113.161.37.105)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=histaffhcm;Password=hrm;" />

    <!--<add name="InsuranceContext" connectionString="metadata=res://*/InsuranceContext.csdl|res://*/InsuranceContext.ssdl|res://*/InsuranceContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=hose_test&quot;" providerName="System.Data.EntityClient" />
    <add name="CommonContext" connectionString="metadata=res://*/CommonContext.csdl|res://*/CommonContext.ssdl|res://*/CommonContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=hose_test&quot;" providerName="System.Data.EntityClient" />
    <add name="ProfileContext" connectionString="metadata=res://*/ProfileContext.csdl|res://*/ProfileContext.ssdl|res://*/ProfileContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=hose_test&quot;" providerName="System.Data.EntityClient" />
    <add name="AttendanceContext" connectionString="metadata=res://*/AttendanceContext.csdl|res://*/AttendanceContext.ssdl|res://*/AttendanceContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=hose_test&quot;" providerName="System.Data.EntityClient" />
    <add name="AuditLogContext" connectionString="metadata=res://*/AuditLogContext.csdl|res://*/AuditLogContext.ssdl|res://*/AuditLogContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=hose_test&quot;" providerName="System.Data.EntityClient" />
    <add name="PayrollContext" connectionString="metadata=res://*/PayrollContext.csdl|res://*/PayrollContext.ssdl|res://*/PayrollContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=hose_test&quot;" providerName="System.Data.EntityClient" />
    <add name="PortalContext" connectionString="metadata=res://*/PortalContext.csdl|res://*/PortalContext.ssdl|res://*/PortalContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=hose_test&quot;" providerName="System.Data.EntityClient" />
    <add name="RecruitmentContext" connectionString="metadata=res://*/RecruitmentContext.csdl|res://*/RecruitmentContext.ssdl|res://*/RecruitmentContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=hose_test&quot;" providerName="System.Data.EntityClient" />
    <add name="TrainingContext" connectionString="metadata=res://*/TrainingContext.csdl|res://*/TrainingContext.ssdl|res://*/TrainingContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=hose_test&quot;" providerName="System.Data.EntityClient" />
    <add name="PerformanceContext" connectionString="metadata=res://*/PerformanceContext.csdl|res://*/PerformanceContext.ssdl|res://*/PerformanceContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=113.161.37.105:1522/orcl;PASSWORD=hrm;USER ID=hose_test&quot;" providerName="System.Data.EntityClient" />
    <add name="DataAccess" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=113.161.37.105)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=hose_test;Password=hrm;" />-->

   
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2097151" executionTimeout="14400"/>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" indentsize="7" />
  </system.diagnostics>
  <system.transactions>
    <defaultSettings timeout="01:00:00"/>
  </system.transactions>
  <appSettings>
    <add key="ReportFolder" value="Report" />
    <add key="ReportTemplatesFolder" value="ReportTemplate" />
    <add key="ATINITTIME" value="00:00" />
    <add key="SEBGPROCESSINTERVAL" value="60" />
    <add key="HUBGPROCESSINTERVAL" value="3600" />
    <add key="ATBGPROCESSINTERVAL" value="60" />
    <add key="SFUSERNAME" value="test" />
    <add key="SFPASSWORD" value="1qaz" />
    <add key="SFDOMAIN" value="tvchcm.vn" />
    <add key="FEXESLEEP" value="5000" />
    <add key="AttendanceRepositoryPoolSize" value="5" />
    <add key="PATH_SQLFILE" value="Attendance\Data" />
    <add key="PATH_MAILFILE" value="Attendance\Email" />
    <add key="EXFILEFOLDER" value="Attendance\Exception" />
    <add key="EXFILEFOLDER_PAYROLL" value="Payroll\Exception" />
    <add key="EXFILEFORMAT" value="yyyyMMdd.log" />
    <add key="AuditLogs" value="* -HU_WORK_LEVEL" />
    <add key ="Path_AttachFile" value =""/>
    <add key="PathFileEmpFolder" value="C:\HISTAFF_FOLDER\PATH_FOLDER\EMPFOLDER\" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="behaviorAction" name="CommonBusiness.ServiceImplementations.CommonBusiness">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="CommonBusiness.ServiceContracts.ICommonBusiness">
          <identity>
            <servicePrincipalName value="HistaffService" />
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="behaviorAction" name="ProfileBusiness.ServiceImplementations.ProfileBusiness">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="ProfileBusiness.ServiceContracts.IProfileBusiness">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="behaviorAction" name="ProfileBusiness.ServiceImplementations.HU_WorkingBusiness">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="ProfileBusiness.ServiceContracts.IHU_WorkingBusiness">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="behaviorAction" name="InsuranceBusiness.ServiceImplementations.InsuranceBusiness">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="InsuranceBusiness.ServiceContracts.IInsuranceBusiness">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="behaviorAction" name="AttendanceBusiness.ServiceImplementations.AttendanceBusiness">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="AttendanceBusiness.ServiceContracts.IAttendanceBusiness">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <timeouts openTimeout="00:10:00" />
        </host>
      </service>
      <service behaviorConfiguration="behaviorAction" name="PayrollBusiness.ServiceImplementations.PayrollBusiness">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="PayrollBusiness.ServiceContracts.IPayrollBusiness">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="behaviorAction" name="PortalBusiness.ServiceImplementations.PortalBusiness">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="PortalBusiness.ServiceContracts.IPortalBusiness">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="behaviorAction" name="RecruitmentBusiness.ServiceImplementations.RecruitmentBusiness">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="RecruitmentBusiness.ServiceContracts.IRecruitmentBusiness">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="behaviorAction" name="TrainingBusiness.ServiceImplementations.TrainingBusiness">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="TrainingBusiness.ServiceContracts.ITrainingBusiness">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="behaviorAction" name="PerformanceBusiness.ServiceImplementations.PerformanceBusiness">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="PerformanceBusiness.ServiceContracts.IPerformanceBusiness">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="behaviorAction" name="HistaffFramework.ServiceImplementations.HistaffFramework">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction"
          contract="HistaffFramework.ServiceContracts.IHistaffFramework">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

    </services>



    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorAction">
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000"
            maxConcurrentInstances="1000" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:30:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="errorHandler" type="Framework.Data.ErrorHandlerElement, Framework.Data" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <wsHttpBinding>
        <binding name="bindingAction" closeTimeout="00:30:00" openTimeout="00:30:00"
          receiveTimeout="00:30:00" sendTimeout="00:30:00" transactionFlow="false"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" >
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>