<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="Translate" type="Framework.UI.LanguageExpressionBuilder" />
      </expressionBuilders>
    </compilation>
    <pages>
      <controls>
        <add src="~/ctrlMessageBox.ascx" tagPrefix="Common" tagName="ctrlMessageBox"/>
        <add src="~/Modules/Common/ctrlUpload.ascx" tagPrefix="Common" tagName="ctrlUpload" />
        <add src="~/Modules/Common/ctrlUploadWithTeamplate.ascx" tagPrefix="Common" tagName="ctrlUploadWithTeamplate" />
        <add src="~/ctrlOrganizationView.ascx" tagPrefix="Common" tagName="ctrlOrganizationView"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="tlk" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.60919.0" newVersion="4.1.60919.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICommonBusiness">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9999/CommonBusiness.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonBusiness"
        contract="CommonBusiness.ICommonBusiness" name="WSHttpBinding_ICommonBusiness">
        <identity>
          <servicePrincipalName value="HistaffService" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>