<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="Translate" type="Framework.UI.LanguageExpressionBuilder"/>
      </expressionBuilders>
    </compilation>
    <pages>
      <controls>
        <add src="~/Modules/Common/ctrlUpload.ascx" tagPrefix="Common" tagName="ctrlUpload" />
        <add src="~/Modules/Common/ctrlFindEmployeePopup.ascx" tagPrefix="Common" tagName="ctrlFindEmployeePopup" />
        <add src="~/Modules/Common/ctrlFindTitlePopup.ascx" tagPrefix="Common" tagName="ctrlFindTitlePopup" />
        <add src="~/Modules/Common/ctrlOrganization.ascx" tagPrefix="Common" tagName="ctrlOrganization" />
        <add src="~/Modules/Common/ctrlToolBar.ascx" tagPrefix="Common" tagName="ctrlToolBar" />
        <add src="~/Modules/Common/ctrlMessageBox.ascx" tagPrefix="Common" tagName="ctrlMessageBox" />
        <add src="~/Modules/Common/ctrlFindOrgPopup.ascx" tagPrefix="Common" tagName="ctrlFindOrgPopup" />
        <add src="~/Modules/Common/ctrlEditComment.ascx" tagPrefix="Common" tagName="ctrlEditComment" />
        <add src="~/Modules/Common/ctrlUpload.ascx" tagPrefix="Common" tagName="ctrlUpload" />
        <add assembly="Framework.UI" tagPrefix="ui" namespace="Framework.UI" />
        <add tagPrefix="tlk" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRecruitmentBusiness" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          useDefaultWebProxy="true" allowCookies="false">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9999/RecruitmentBusiness.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRecruitmentBusiness"
        contract="RecruitmentBusiness.IRecruitmentBusiness" name="WSHttpBinding_IRecruitmentBusiness">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
