<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <table border="0" cellpadding="5" cellspacing="0">
        <tr>
            <td align="right">
                TP.HCM, Ngày {ngày} tháng {tháng} năm {năm}
            </td>
        </tr>
        <tr>
            <td align="center">
                <span style="font-size: 16px; font-weight: bold ">THƯ CẢM ƠN</span>
            </td>
        </tr>
        <tr>
            <td>
                Kính gửi: <span style="font-size: 14px; font-weight: bold">Ông/Bà {họ tên}</span>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                Công ty Cổ phần Dịch vụ Hàng không Sân bay Tân Sơn Nhất xin gởi đến ông/bà lời chào
                trân trọng và lời chúc sức khỏe, cảm ơn ông/bà đã đến tham gia dự tuyển tại Công
                ty trong thời gian qua.
                <br />
                <br />
                Công ty SASCO đánh giá cao khả năng và kinh nghiệm làm việc của ông/bà. Tuy nhiên,
                chúng tôi rất lấy làm tiếc là khả năng và kinh nghiệm ấy chưa thực sự phù hợp với
                chức danh mà Công ty đang cần tuyển.
                <br />
                <br />
                Một lần nữa Công ty xin gửi lời cám ơn và chúc ông/bà gặp nhiều may mắn, thành công
                trong cuộc sống, công việc. Hy vọng chúng ta sẽ có dịp hợp tác trong tương lai.
                <br />
                <br />
                Chào trân trọng.
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>CÔNG TY SASCO</b>
            </td>
        </tr>
    </table>
</body>
</html>
