<html>

<head>
<style>
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoNormal style='margin-right:-2.95pt'><span style='position:relative;
z-index:251664384'><span style='position:absolute;left:487px;top:-22px;
width:174px;height:42px'>

<table cellpadding=0 cellspacing=0>
 <tr>
  <td width=174 height=42 bgcolor=white style='border:.75pt solid black;
  vertical-align:top;background:white'><span style='position:absolute;
  z-index:251664384'>
  <table cellpadding=0 cellspacing=0 width="100%">
   <tr>
    <td>
    <div style='padding:4.35pt 7.95pt 4.35pt 7.95pt'>
    <p class=MsoNormal align=center style='text-align:center'><b><span
    style='font-family:"Times New Roman","serif"'>BM12B-QCTD</span></b></p>
    </div>
    </td>
   </tr>
  </table>
  </span>&nbsp;</td>
 </tr>
</table>

</span></span><span style='font-family:"Times New Roman","serif"'>             
</span></p>

<p class=MsoNormal style='margin-right:-2.95pt'><span style='font-family:"Times New Roman","serif"'>               
</span><span style='font-size:11.0pt;font-family:"Times New Roman","serif"'>SASCO               
                                      <b>C&#7896;NG HOÀ XÃ H&#7896;I CH&#7910;
NGH&#296;A VI&#7878;T NAM</b></span></p>

<p class=MsoNormal style='margin-right:-2.95pt'><b><span style='font-size:11.0pt;
font-family:"Times New Roman","serif"'>PHÒNG T&#7892; CH&#7912;C NHÂN S&#7920;</span></b><span
style='font-size:11.0pt;font-family:"Times New Roman","serif"'>                                             
<b>&#272;&#7897;c l&#7853;p – T&#7921; do – H&#7841;nh phúc</b></span></p>

<p class=MsoNormal style='margin-right:-2.95pt'><span style='position:absolute;
z-index:251660288;margin-left:407px;margin-top:2px;width:145px;height:2px'><img
width=145 height=2
src="BM12B_TB%20tiep%20nhan%20LD%20(NV%20nghiep%20vu)_files/image001.png"></span><span
style='position:absolute;z-index:251661312;margin-left:36px;margin-top:2px;
width:117px;height:2px'><img width=117 height=2
src="BM12B_TB%20tiep%20nhan%20LD%20(NV%20nghiep%20vu)_files/image002.png"></span><b><span
style='font-family:"Times New Roman","serif"'>                     </span></b><span
style='font-family:"Times New Roman","serif"'>                                                                                                   </span></p>

<p class=MsoNormal style='margin-right:-2.95pt'><span style='font-family:"Times New Roman","serif"'>    
S&#7889;: …..TB/SASCO-TCNS<i>                              Tp. H&#7891; Chí
Minh, <span style='background:yellow'>ngày ___ tháng ___ n&#259;m ___</span></i></span></p>

<p class=MsoNormal><span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoNormal align=center style='margin-top:12.0pt;text-align:center'><b><span
style='font-size:16.0pt;font-family:"Times New Roman","serif"'>THÔNG BÁO</span></b></p>

<p class=MsoNormal align=center style='margin-top:6.0pt;margin-right:0in;
margin-bottom:6.0pt;margin-left:0in;text-align:center'><b><span
style='font-size:13.0pt;font-family:"Times New Roman","serif"'>V/v: </span></b><span
style='font-size:13.0pt;font-family:"Times New Roman","serif";letter-spacing:
-.1pt'>Ti&#7871;p nh&#7853;n lao &#273;&#7897;ng th&#7917; vi&#7879;c</span></p>

<p class=MsoNormal align=center style='margin-top:6.0pt;margin-right:0in;
margin-bottom:6.0pt;margin-left:0in;text-align:center'><b><span
style='font-size:13.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='margin-top:6.0pt;margin-right:0in;
margin-bottom:6.0pt;margin-left:0in;text-align:center'><span style='font-size:
13.0pt;font-family:"Times New Roman","serif"'>Kính g&#7917;i:<b> ……..       </b></span></p>

<p class=MsoNormal style='text-align:justify'><i><span style='font-size:13.0pt;
font-family:"Times New Roman","serif"'>C&#259;n c&#7913; phê duy&#7879;t
c&#7911;a T&#7893;ng Giám &#273;&#7889;c t&#7841;i T&#7901; trình s&#7889; …
TT/SASCO-TCNS ngày </span></i><i><span style='font-size:12.5pt'>__/__/___</span></i><i><span
style='font-size:13.0pt;font-family:"Times New Roman","serif"'>v&#7873;
vi&#7879;c tuy&#7875;n d&#7909;ng <span style='background:yellow'>Chuyên viên
k&#7929; thu&#7853;t</span>,</span></i></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify'><span style='font-size:13.0pt;font-family:
"Times New Roman","serif"'>Phòng T&#7893; ch&#7913;c Nhân s&#7921; trân
tr&#7885;ng thông báo v&#7873; vi&#7879;c ti&#7871;p nh&#7853;n nhân s&#7921;
m&#7899;i nh&#432; sau: </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify'><span style='font-size:8.0pt;font-family:
"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><b><span style='font-size:12.5pt'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><u><span style='font-size:12.5pt'>Nhân s&#7921;
&#273;&#7873; xu&#7845;t tuy&#7875;n d&#7909;ng:</span></u></b><span
style='font-size:12.5pt'> </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify'><span
style='font-size:5.0pt'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><b><i><span style='font-size:12.5pt'>1.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></i></b><b><i><span style='font-size:12.5pt'>Thông tin &#7913;ng
viên:</span></i></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt'>H&#7885; và tên          : <b>{họ tên}                  </b>            Gi&#7899;i
tính        : <span style='background:yellow'>Nam</span></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt'>Ngày sinh         : <i><span
style='background:yellow'>01/01/1989</span></i>                                     Nguyên
quán : <span style='background:yellow'>Bình &#272;&#7883;nh</span></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt'>S&#7889; CMND         : <span
style='background:yellow'>123456789</span>                                      S&#7889;
&#273;i&#7879;n tho&#7841;i : <span style='background:yellow'>01621428425</span></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt'>&#272;&#7883;a ch&#7881; liên
l&#7841;c            : <span style='background:yellow'>Qu&#7853;n 10, TP.HCM</span></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify'><span
style='font-size:5.0pt'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><b><i><span style='font-size:12.5pt'>1.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></i></b><b><i><span style='font-size:12.5pt'>Trình &#273;&#7897;
- Nghi&#7879;p v&#7909;: </span></i></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt;background:yellow'>01/01/1998</span><span
style='font-size:12.5pt'> – <span style='background:yellow'>01/01/2003</span>: <span
style='background:yellow'>Th&#7841;c s&#7929;</span>, chuyên ngành <span
style='background:yellow'>Tin h&#7885;c</span>, tr&#432;&#7901;ng <span
style='background:yellow'>&#272;&#7841;i h&#7885;c qu&#7889;c gia</span>.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt'>…</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt'>…</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify'><b><i><span
style='font-size:5.0pt'>&nbsp;</span></i></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><b><i><span style='font-size:12.5pt'>1.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></i></b><b><i><span style='font-size:12.5pt'>Kinh Nghi&#7879;m:</span></i></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt;background:yellow'>01/01/2010</span><span
style='font-size:12.5pt'> – <span style='background:yellow'>01/01/2014</span> :
<span style='background:yellow'>K&#7871; toán</span>, <span style='background:
yellow'>Công ty ABC</span>.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt'>…</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify'><span
style='font-size:8.0pt'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><b><span style='font-size:12.5pt'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><u><span style='font-size:12.5pt'>Ch&#7913;c danh, th&#7901;i
h&#7841;n h&#7907;p &#273;&#7891;ng lao &#273;&#7897;ng th&#7917; vi&#7879;c:</span></u></b></p>

<p class=MsoListParagraphCxSpLast style='margin-left:28.35pt;text-align:justify'><b><u><span
style='font-size:5.0pt'><span style='text-decoration:none'>&nbsp;</span></span></u></b></p>

<p class=MsoNormal style='margin-left:28.35pt;text-indent:-28.35pt'><b><span
style='font-size:12.5pt;font-family:"Times New Roman","serif"'>- </span></b><span
style='font-size:12.5pt;font-family:"Times New Roman","serif"'>       Ch&#7913;c
danh th&#7917; vi&#7879;c                : <span style='background:yellow'>Chuyên
viên k&#7929; thu&#7853;t</span></span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt'>B&#7897; ph&#7853;n/&#272;&#417;n
v&#7883; th&#7917; vi&#7879;c       : <span style='background:yellow'>Phòng ABC</span></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:8.0pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt'>Th&#7901;i h&#7841;n
H&#272;L&#272; th&#7917; vi&#7879;c       : <i><span style='background:yellow'>01/01/2016</span></i> <b>–
</b><i><span style='background:yellow'>01/03/2016</span></i>            </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify'><span
style='font-size:8.0pt'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><b><span style='font-size:12.5pt'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><u><span style='font-size:12.5pt'>Nhi&#7879;m v&#7909;
chính</span></u></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt;background:yellow'>Phân tích
k&#7929; thu&#7853;t</span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:28.35pt;text-align:justify;
text-indent:-28.35pt'><span style='font-size:12.5pt'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.5pt'>…</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:0in;text-align:justify;text-indent:28.35pt'><span style='font-size:
13.0pt;font-family:"Times New Roman","serif"'>Trân tr&#7885;ng thông báo.</span></p>

<p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><span
style='font-size:13.0pt;font-family:"Times New Roman","serif"'>                                                                          
                    TR&#431;&#7902;NG PHÒNG TCNS</span></b></p>

<p class=MsoNormal style='margin-left:.25in'><span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.25in'>

<table cellpadding=0 cellspacing=0 align=left>
 <tr>
  <td width=6 height=11></td>
 </tr>
 <tr>
  <td></td>
  <td width=204 height=88 bgcolor=white style='vertical-align:top;background:
  white'><span style='position:absolute;left:0pt;z-index:251663360'>
  <table cellpadding=0 cellspacing=0 width="100%">
   <tr>
    <td>
    <div style='padding:3.6pt 7.2pt 3.6pt 7.2pt'>
    <p class=MsoNormal style='text-align:justify'><i><u><span style='font-size:
    10.0pt;font-family:"Times New Roman","serif"'>N&#417;i nh&#7853;n</span></u></i><i><span
    style='font-size:10.0pt;font-family:"Times New Roman","serif"'>:</span></i></p>
    <p class=MsoNormal style='text-align:justify'><i><span style='font-size:
    10.0pt;font-family:"Times New Roman","serif"'>- Nh&#432; trên.</span></i></p>
    <p class=MsoNormal style='text-align:justify'><i><span style='font-size:
    10.0pt;font-family:"Times New Roman","serif"'>- V&#259;n phòng Công ty,
    P.CNTT</span></i></p>
    <p class=MsoNormal style='text-align:justify'><i><span style='font-size:
    10.0pt;font-family:"Times New Roman","serif"'>- L&#432;u P.TCNS.</span></i></p>
    </div>
    </td>
   </tr>
  </table>
  </span>&nbsp;</td>
 </tr>
</table>

<span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<br clear=ALL>

<p class=MsoNormal style='margin-left:.25in'><span style='font-family:"Times New Roman","serif"'>                                      
<b>                                                                                 </b>      </span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
