<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
      <expressionBuilders>
        <add expressionPrefix="Translate" type="Framework.UI.LanguageExpressionBuilder" />
      </expressionBuilders>
    </compilation>
    <pages>
      <controls>
        <add src="~/Shared/ctrlFindAssetPopup.ascx" tagPrefix="Profile" tagName="ctrlFindAssetPopup" />
        <add src="~/Modules/Common/ctrlUpload.ascx" tagPrefix="Common" tagName="ctrlUpload" />
        <add src="~/Modules/Insurance/Shared/ctrlFindTreatmentPopup.ascx" tagPrefix="Insurance" tagName="ctrlFindTreatmentPopup" />
        <add src="~/Modules/Common/ctrlFindEmployeePopup.ascx" tagPrefix="Common" tagName="ctrlFindEmployeePopup" />
        <add src="~/Modules/Common/ctrlFindTitlePopup.ascx" tagPrefix="Common" tagName="ctrlFindTitlePopup" />
        <add src="~/Modules/Common/ctrlOrganization.ascx" tagPrefix="Common" tagName="ctrlOrganization" />
        <add src="~/Modules/Common/ctrlToolBar.ascx" tagPrefix="Common" tagName="ctrlToolBar" />
        <add src="~/Modules/Common/ctrlMessageBox.ascx" tagPrefix="Common" tagName="ctrlMessageBox" />
        <add src="~/Modules/Common/ctrlFindOrgPopup.ascx" tagPrefix="Common" tagName="ctrlFindOrgPopup" />
        <add src="~/Modules/Common/ctrlEditComment.ascx" tagPrefix="Common" tagName="ctrlEditComment" />
        <add src="~/Modules/Common/ctrlUpload.ascx" tagPrefix="Common" tagName="ctrlUpload" />
        <add assembly="Framework.UI" tagPrefix="ui" namespace="Framework.UI" />
        <add tagPrefix="tlk" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.60623.0" newVersion="4.1.60623.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IInsuranceBusiness" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          useDefaultWebProxy="true" allowCookies="false">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9999/InsuranceBusiness.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInsuranceBusiness"
        contract="InsuranceBusiness.IInsuranceBusiness" name="WSHttpBinding_IInsuranceBusiness">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>