<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="BOConnectString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=113.161.37.105)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=histaffhcm;Password=hrm;"/>
  </appSettings>
</configuration>
