/* http://meyerweb.com/eric/tools/css/reset/
v2.0 -20110126
License:  none (public domain)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------main content ----------------*/
body {
	font-family: "Segoe UI", Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif !important;
	font-size: 10pt;
	line-height: 12pt;
	text-align: justify;
}

h1 {
	font-size: 2em;
	margin: 1em 1em 1em 0em;
}

h2 {
	font-size: 1.5em;
	margin: 1em 1em 1em 0em;
}

h3 {
	font-size: 1.2em;
	margin: 1em 1em 1em 0em;
}

.wraper {
	padding: 20px;
}

p.inden15{
	text-indent: 15px;
}

.clear {
	display: block;
	height: 1px;
	clear: both;
}

.columns {
	position: relative;
}

#div-module-content{
	height: 400px;
	overflow: auto;
}

.left250 {
	float: left;
	display: block;
	width: 250px;
}

.right250 {
	display: block;
	margin-left: 260px;
	padding: 1em;
	padding-right: 15px;
}