.FullRow .rgDataDiv
{
	height: auto !important;
}
.rgRow td, .rgAltRow td, .rgFilterRow tr, .rgFilterRow td, .rgMasterTable .rgHeader
{
	padding: 1px 1px 1px 5px !important;
	height: 20px !important;
}
.rgFilterBox, .rgFilter, .riDisplay
{
	/*width: 80% !important;*/
	min-width: 70%;
	max-width: 80%;
	padding: 1px 1px 1px 1px !important;
}
.rgPagerCell, NextPrevAndNumeric, rgSEO
{
	padding: 1px 1px 1px 5px !important;
	height: 20px !important;
}

.TimeSelection .RadPicker
{
	width: 100px !important;
}

.TimeSelection .rcTable
{
	text-align: center !important;
	width: 100px !important;
}
/*RadListBox*/
div.rptSignGroup
{
	margin: 1px 1px 1px 1px !important;
	font-weight: bold;
	font-size: large;
}

div.rptSign
{
	margin: 2px 2px 2px 2px !important;
	font-weight: bold;
}

.css3
{
	background-image: none !important;
	background-color: #ffca5e !important;
}
.Removecss3
{
}
.RadGrid .item-style td
{
	padding-top: 0;
	padding-bottom: 0;
	height: 150px;
	vertical-align: middle;
}
html .RadGrid_Office2007 .rgEditRow
{
	background: inherit;
}
html .rgEditRow .rgSelectedRow
{
	background: #ffe5ad;
}

html .RadGrid
{
	background-color: #f2f2f2 !important;
}
html .rgDataDiv
{
	background-color: white;
}
html .RadGrid_Simple .rgEditRow
{
	background: none;
}
html .RadGrid_Simple .rgFilterRow
{
	text-align: center;
}
.RadGrid
{
	height: 97%;	
}
/*Metro*/
.RadGrid_Metro
{
	color: #181717 !important;
}
.RadGrid_Metro .rgHeader, .RadGrid_Metro .rgHeader a
{
	color: #181717 !important;
}
.rgRow td, .rgAltRow td, .rgFilterRow tr, .rgFilterRow td, .rgMasterTable .rgHeader
{
}
.RadGrid_Metro .rgRow a, .RadGrid_Metro .rgAltRow a, .RadGrid_Metro tr.rgEditRow a, .RadGrid_Metro .rgFooter a, .RadGrid_Metro .rgEditForm a
{
	color: #2196f3 !important;
}
.RadGrid_Metro .rgRow a:hover, .RadGrid_Metro .rgAltRow a:hover, .RadGrid_Metro tr.rgEditRow a:hover, .RadGrid_Metro .rgFooter a:hover, .RadGrid_Metro .rgEditForm a:hover
{
	color: #3b5998 !important;
}
.RadGrid_Metro .rgSelectedCell a, .RadGrid_Metro .rgSelectedRow a
{
	color: #fff !important;
}
.RadGrid_Metro .rgSelectedCell a:hover, .RadGrid_Metro .rgSelectedRow a:hover
{
	color: #000 !important;
}
.RadGrid_Metro .rgAltRow
{
	background: #f2f2f2 !important;
}
.RadGrid_Metro .rgHoveredRow
{
	background: #ededed !important;
}
.RadGrid_Metro .rgHoveredRow td
{
	border-color: #ededed !important;
}
.RadGrid_Metro tbody tr td
{
	border-color: #f2f2f2 !important;
}
.RadGrid_Metro .rgSelectedRow
{
	color: #fff;
	background: #25a0da !important;
}
.RadGrid_Metro .rgGroupHeader
{
	background-color: #f2f2f2 !important;
}
.RadGrid_Metro .rgMasterTable td.rgGroupCol, .RadGrid_Metro .rgMasterTable td.rgExpandCol
{
	border-color: #f2f2f2 !important;
	background: #f2f2f2 none !important;
}

div.RadAjax_Metro .raColor
{
    opacity:0.1;
    -moz-opacity:0.1;
    -khtml-opacity: 0.1;
}