<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="Translate" type="Framework.UI.LanguageExpressionBuilder" />
      </expressionBuilders>
    </compilation>
    <pages>
      <controls>
        <add src="~/Modules/Common/ctrlOrganization.ascx" tagPrefix="Common" tagName="ctrlOrganization"/>
        <add src="~/Modules/Common/ctrlToolBar.ascx" tagPrefix="Common" tagName="ctrlToolBar"/>
        <add src="~/Modules/Common/ctrlMessageBox.ascx" tagPrefix="Common" tagName="ctrlMessageBox"/>
        <add src="~/Modules/Common/ctrlOrganizationPopup.ascx" tagPrefix="Common" tagName="ctrlOrganizationPopup"/>
        <add src="~/Modules/Common/ctrlFindEmployeePopup.ascx" tagPrefix="Common" tagName="ctrlFindEmployeePopup"/>
        <add src="~/Modules/Common/ctrlUpload.ascx" tagPrefix="Common" tagName="ctrlUpload"/>
        <add src="~/Modules/Attendance/ctrlFindSign.ascx" tagPrefix="At" tagName="ctrlFindSign"/>
        <add assembly="Framework.UI" tagPrefix="ui" namespace="Framework.UI"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="tlk" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.60919.0" newVersion="4.1.60919.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPayrollBusiness">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9999/PayrollBusiness.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPayrollBusiness"
        contract="PayrollBusiness.IPayrollBusiness" name="WSHttpBinding_IPayrollBusiness">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>