<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="CustomViewStateSection">
      <section name="ViewStateConfig" type="Framework.UI.ViewStateProviderConfigSection, Framework.UI" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DefaultPage" value="Default.aspx" />
    <add key="ModulePath" value="/Modules" />
    <add key="DebugMode" value="0" />
    <add key="DebugAccount" value="thanhlcm@tvchn.vn" />
    <add key="EMAIL_FROM" value="LinhNV.IT9X@gmail.com" />
    <add key="ShowMessageException" value="1" />
    <add key="LogScope" value="2" />
    <add key="OrganizationDataCacheMinute" value="30" />
    <add key="UserPermissionDataCacheMinute" value="30" />
    <add key="ComboBoxListDataCacheMinute" value="10" />
    <add key="FDATECLIENT" value="dd/MM/yyyy" />
    <add key="Telerik.Skin" value="Default" />
    <add key="MaxNumberLoginFail" value="3" />
    <add key="PasswordLength" value="4" />
    <add key="PasswordLowerChar" value="-1" />
    <add key="PasswordNumberChar" value="-1" />
    <add key="PasswordUpperChar" value="-1" />
    <add key="PasswordSpecialChar" value="-1" />
    <add key="UserModifiedLog" value="0" />
    <add key="ActiveTimeout" value="1" />
    <add key="SessionWarning" value="5" />
    <add key="PasswordExpireDays" value="30" />
    <add key="Telerik.Web.UI.StyleSheetFolders" value="~/Styles/" />
  </appSettings>
  <connectionStrings>
    <add name="ADConString" connectionString="LDAP://suntorypepsico.vn" />
  </connectionStrings>
  <system.web>
    <machineKey validationKey="1CB1F302E6EE5701F0CE41515A34245109D6DF35B46ABEB6BED38D929AA8AD49E06C3ED1E715DFC0FFC72CD4E5EE98DA9502EA77F2549DE81DB929B9F4B670E6" decryptionKey="AB7114E7686EE9DB199CF40D2DB9C3033660B34B8DFDE153153CF72F1DB93F6F" validation="SHA1" decryption="AES" />
    <sessionState timeout="30" />
    <membership defaultProvider="MembershipProviderPortal">
      <providers>
        <clear/>
        <add name="MembershipProviderPortal" type="Common.CustomMembershipProviderPortal, Common" connectionStringName="ADConString" connectionUsername="40213161" connectionPassword="123.suntory" domainName="@suntorypepsico.vn"  applicationName="/" />
      </providers>
    </membership>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <compilation strict="false" explicit="true" targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <expressionBuilders>
        <add expressionPrefix="Translate" type="Framework.UI.LanguageExpressionBuilder" />
      </expressionBuilders>
    </compilation>
    <authentication mode="Forms">
      <forms name=".HISTAFFPORTAL" loginUrl="~/Account/Login.aspx"
        timeout="60" />
    </authentication>
    <pages theme="Classic">
      <controls>
        <add src="~/Modules/Common/ctrlFindEmployeePopup.ascx" tagPrefix="Common" tagName="ctrlFindEmployeePopup"/>
        <add src="~/Modules/Common/ctrlFindTitlePopup.ascx" tagPrefix="Common" tagName="ctrlFindTitlePopup" />
        <add src="~/Modules/Common/ctrlOrganization.ascx" tagPrefix="Common" tagName="ctrlOrganization" />
        <add src="~/Modules/Common/ctrlFindOrgPopup.ascx" tagPrefix="Common" tagName="ctrlFindOrgPopup"/>
        <add src="~/Modules/Common/ctrlUpload.ascx" tagPrefix="Common" tagName="ctrlUpload" />
        <add src="~/Modules/Common/ctrlMessageBox.ascx" tagPrefix="Common" tagName="ctrlMessageBox" />
        <add tagPrefix="ui" assembly="Framework.UI" namespace="Framework.UI" />
        <add tagPrefix="tlk" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression  doStaticCompression="true" doDynamicCompression="true" />
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI"  preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICommonBusiness" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" >
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPortalBusiness" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IProfileBusiness" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAttendanceBusiness" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPayrollBusiness" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPerformanceBusiness" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9999/CommonBusiness.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonBusiness" contract="CommonBusiness.ICommonBusiness" name="WSHttpBinding_ICommonBusiness">
        <identity>
          <servicePrincipalName value="HistaffService" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9999/PortalBusiness.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPortalBusiness" contract="PortalBusiness.IPortalBusiness" name="WSHttpBinding_IPortalBusiness">
        <identity>
          <servicePrincipalName value="HistaffService" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9999/PayrollBusiness.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPayrollBusiness" contract="PayrollBusiness.IPayrollBusiness" name="WSHttpBinding_IPayrollBusiness">
        <identity>
          <servicePrincipalName value="HistaffService" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9999/ProfileBusiness.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProfileBusiness" contract="ProfileBusiness.IProfileBusiness" name="WSHttpBinding_IProfileBusiness">
        <identity>
          <servicePrincipalName value="HistaffService" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9999/AttendanceBusiness.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAttendanceBusiness" contract="AttendanceBusiness.IAttendanceBusiness" name="WSHttpBinding_IAttendanceBusiness">
        <identity>
          <servicePrincipalName value="HistaffService" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9999/PerformanceBusiness.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPerformanceBusiness" contract="PerformanceBusiness.IPerformanceBusiness" name="WSHttpBinding_IPerformanceBusiness">
        <identity>
          <servicePrincipalName value="HistaffService" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <CustomViewStateSection>
    <ViewStateConfig defaultProvider="GlobalViewStateProvider">
      <providers>
        <add name="GlobalViewStateProvider" type="Framework.UI.GlobalViewStateProvider"/>
      </providers>
    </ViewStateConfig>
  </CustomViewStateSection>
</configuration>